 <!-- FOOTER -->
 <footer class="bg-[#1F2937] py-6 text-center text-sm text-[#9AA3B8]">
    <p>&copy; <%= new Date().getFullYear() %> Moon Studio · Todos los derechos reservados.</p>
    <p>Desarrollado por Marco 🚀</p>
  </footer>

  <!-- FONTAWESOME -->
  <script src="https://kit.fontawesome.com/d69c31f99a.js" crossorigin="anonymous"></script>
  <!-- CUSTOM JS -->
  <script src="/js/functions.js"></script>
</body>
</html>