<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - ToDo List App</title>
    <link rel="stylesheet" href="/css/output.css" />
</head>
<body class="bg-[#0B0F19] text-[#F9FAFB] min-h-screen flex flex-col">
    <!-- NAVBAR -->
    <header class="bg-[#1F2937] py-4 shadow-md">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-white tracking-wide">
          📝 ToDo List
        </h1>
        <nav>
          <ul class="flex gap-4 text-sm text-[#F9FAFB]">
            <li>
              <a href="/" class="hover:text-[#38BDF8] transition">Inicio</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
